// Resets

:root {
  --real100vh: 100vh; // Use this to fix iOS 100vh problem
}

* {
  @include box-sizing(border-box);
  &:before, &:after {
    @include box-sizing(border-box);
  }
}

html {
  font-size: 100%;
  //  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

address { font-style: normal; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

iframe { border: 0; }

a { color: inherit; }


